
  .title-wrapper{
      display:grid;
      margin-top: 2em;
      grid-gap: .2em;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(auto, auto);
  }
  
  .title-wrapper > div{
      /* background: #eee; */
      text-align: center;
  }
  
  .title-wrapper > div > h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 72px;
  }
  
  /* ------------------------------------------------------------------------------------------ */
  
  .input-wrapper{

      display:grid;
      margin-top: .5em;
      grid-gap: .2em;
      grid-template-columns: 1.5fr 1fr 5fr 1fr 1.5fr;
      grid-auto-rows: minmax(auto, auto);
  }


  .input-wrapper > div{
      /* background: #eee; */
      text-align: center;
  }
  
  .todoitem{
      background-color: rgb(255, 255, 255);
      width: 100%;
      padding: 5px;
      margin: 0;
      font-size: large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      border-radius: .4em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;  
  }
  
  .todoitem_button {
      background: rgb(230, 230, 230); 
      width: 100%;
      padding: 5px;
      margin: 0;
      font-size: large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border-radius: .4em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; 
  
  }
  
  /* ------------------------------------------------------------------------------------------ */
  
  .list-wrapper {
      display:grid;
      margin-top: 2.5em;
      padding: .2em;
      grid-gap: .2em;
      grid-template-columns: 1.5fr 1fr 5fr 1fr 1.5fr;
      grid-auto-rows: minmax(auto, auto);
  
  }
  
  .list-wrapper > div{
      /* background: #eee; */
      text-align: right;
  }
  
  #todo-list-item{

      display:grid;
      grid-gap: .2em;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(auto, auto);
  
  }
  
  #todo-item-button{
      display:grid;
      grid-gap: .2em;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(auto, auto);
  
  }
  
  #todo-list-item > div{
      width: 100%;
      padding: 5px;
      font-size: x-large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* border:#333 1px solid; */
      border-radius: .4em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;  
  }
  
  #todo-item-button > i{
     text-align: left;
  }


  .navbar {
    background-color: aqua;
    height: auto;
  }
  
  .navbar .btn {
    background-color: aqua;
  }
  
  .navbar .burger {
    width: 2em;
    height: .2em;
    background-color: #1E1E1E;
    margin: .25em 0;
    border-radius: .2em;
  }
  
  .navbar div {
    background-color: aqua;
  }
  
  .navbar input {
    color: #1E1E1E;
  }
  
  .navbar label {
    color: #1E1E1E;
  }


