
body { 
    background-color: aqua; 
}


h1 { 
    font-size: 72px;
    text-align: center;
}

#input-wrapper { 
    display: flex; 
    justify-content: center; 
}

#todo-text-input { 
    margin-right: 10px;
    width: 400px; 
}


.navbar .burger {
    width: 2em;
    height: .2em;
    background-color: #1E1E1E;
    margin: .25em 0;
    border-radius: .2em;
} 
  
 .strike-through { 
     text-decoration: line-through; 
 }

